@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  font: 14px/1.4 'Roboto', sans-serif;
  color: #424242;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #999;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

button {
  font-weight: 500;
  background-color: #005FAE;
}

button:hover {
  background-color: rgba(0, 95, 174, 0.92);
}

button:active {
  background-color: rgba(0, 95, 174, 0.68);
}

a {
  position: relative;
  color: #005FAE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 13px 25px;
  color: #fff;
  line-height: 1;
  border: 0;
  outline: 0;
  background-color: #005FAE;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.btn:hover {
  background-color: rgba(0, 95, 174, 0.92);
}

.btn:active {
  background-color: rgba(0, 95, 174, 0.68);
}

.btn_hollow {
  color: #00C346;
  border: 1px solid #00C346;
  background-color: transparent;
}

.btn_hollow:hover, .btn_hollow:active {
  color: #fff;
  background-color: #00C346;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.page__breadcrumbs {
  margin-top: 30px;
  margin-bottom: 15px;
}

.page__search {
  margin-top: 15px;
  margin-bottom: 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-size: 24px;
  line-height: 1.3;
  color: #212121;
}

.title_approval {
  position: relative;
  padding-left: 30px;
}

.title_approval::after {
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url("/static/img/icon-approval.svg") no-repeat;
}

/*** header ***/
.header__top {
  height: 40px;
  background-color: #005FAE;
}

.header__bottom {
  height: 40px;
  background-color: #F7F7F7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/*** breadcrumbs ***/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #212121;
}

.breadcrumbs__item + li {
  padding-left: 10px;
}

.breadcrumbs__item + li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '/';
}

.breadcrumbs__link {
  color: #666666;
}

/*** search ***/
.search {
  max-width: 940px;
  background: #FFFFFF;
  border: 2px solid #005FAE;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search__input {
  width: 100%;
  padding-left: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 0;
}

.search__input:focus {
  -webkit-box-shadow: 0 0 3px 2px #005FAE;
          box-shadow: 0 0 3px 2px #005FAE;
}

.search__btn {
  width: 64px;
  height: 40px;
  text-indent: -9999;
  background: #005FAE url("/static/img/icon-search.svg") center no-repeat;
  border: 0;
  cursor: pointer;
}

.info__bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__back {
  margin: 15px 0;
}

.back-link {
  position: relative;
  padding-left: 20px;
}

.back-link::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 12px;
  height: 10px;
  margin-top: -5px;
  background: url("/static/img/icon-back.svg") no-repeat;
}

/*** meta ***/
.meta {
  color: #999999;
}

.meta__icon {
  position: relative;
  padding-left: 20px;
  line-height: 1;
}

.meta__icon::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
}

.meta__icon_view {
  margin-right: 24px;
}

.meta__icon_view::before {
  width: 17px;
  height: 10px;
  margin-top: -5px;
  background: url("/static/img/icon-view.svg") left center no-repeat;
}

.meta__icon_feedback {
  color: #999999;
}

.meta__icon_feedback::before {
  width: 15px;
  height: 14px;
  margin-top: -7px;
  background: url("/static/img/icon-comment.svg") left center no-repeat;
}
/*# sourceMappingURL=style.css.map */